project:
  type: book
  output-dir: docs

book:
  title: "Distant Viewing Scripts"
  page-footer:
    left: |
      Distant Viewing Scripts
    right: |
  favicon: img/dlogo.ico
  repo-url: https://github.com/distant-viewing/dv-demo/

  chapters:
    - index.qmd

    - part: tutorials.qmd
      chapters:
        - tutorial-digital-images.qmd
        - tutorial-moving-images.qmd

    - part: image.qmd
      chapters:
        - color.qmd
        - classification.qmd
        - object.qmd
        - depth.qmd
        - segment.qmd
        - embed.qmd

    - part: video.qmd
      chapters:
        - shot.qmd
        - transcription.qmd
        - diarization.qmd

    - part: text.qmd
      chapters:
        - sentiment.qmd
        - review.qmd
        - comment.qmd
        - mask.qmd

    - part: multimodal.qmd
      chapters:
        - zeroshot.qmd
        - caption.qmd

    - citation.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme:
      - cosmo
      - dvt.scss
    code-link: true

    author-meta: "Taylor Arnold and Lauren Tilton"
    callout-appearance: simple
